<!doctype html>
<html lang="en">
    <head>

    </head>
    <body>
        <header>
            {% if user.is_authenticated %}

            <nav>
                <li> 
                    <a href="{% url 'logout' %}">Logout</a>
                </li>


                {% else %}
                <li> 
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li> 
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}

            </nav>

        </header>






    <main>
{% block content %}





{% endblock content %}


    </main>
    </body>
    
    <footer>

    <footer>

 <html>