<!doctype html>
<html lang="en">
    <head>

    </head>

    <body>

        <header>
            <title>

            </title>
        </header>


        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Sign up</button>
            </form>


        </main>
        
    </body>
    
    <footer>

    <footer>

 <html>